@model IEnumerable<ProductsViewModel>

<div class="table-responsive mt-3">
    
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <div class="mb-3 d-flex">
            <input class="form-control input-lg mb-2 mt-3" id="inputlg" type="text" name="searchTerm" placeholder="Search name of product, category">
            <input class="mb-2 mt-3" type="submit" value="Tìm kiếm">
        </div>
        
    }
    <a asp-action="Create">
        <button type="button" class="btn btn-success">Add Product</button>
    </a>
    <table class="table">
        <thead>
            <tr>
                @* <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                *@
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>UnitPrice</th>
                <th>CreatedBy</th>
                <th>CreateAt</th>
                <th>CategoryId</th>
                <th>Thumbnail</th>
                <th>Action</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>
                        @product.Id
                    </td>
                    <td>
                        @product.Name
                    </td>
                    <td>
                        @product.Description
                    </td>
                    <td>
                        @product.UnitPrice
                    </td>
                    <td>
                        @product.CreatedBy
                    </td>
                    <td>
                        @product.CreateAt
                    </td>
                    <td>
                        @product.CategoryId
                    </td>
                    <td>
                        <img src="~/images/@product.Thumbnail" width="100" height="100" alt="Add picture">
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@product.Id">Edit</a>|
                        <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @if (ViewBag.TotalPages > 1)
    {
        <ul class="pagination justify-content-center">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.PageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { searchTerm = ViewBag.SearchTerm, page = i, pageSize = ViewBag.PageSize })">@i</a>
                </li>
            }
        </ul>
    }
</div>